# ======================
# Python env
# ======================
.venv/
.venv1/
.vscode/
.env

# ======================
# ECG project outputs (VERY IMPORTANT)
# ======================
/artifacts/
/artifact1/
/models/
/data/

# ======================
# IDE
# ======================
.idea/
.vscode/
logs/

# ======================
# cache
# ======================
__pycache__/
*.pyc
/run.ps1
